body{
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #ecf0f3;
}

.container{
    width: 45%;
    height: 45vh;
    padding: 10px;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    box-shadow: 12px 12px 20px #cbced1,-12px -12px  20px #ffffff;
}

.display #screen {
    width: 97%;
    height: 70px;
    font-size: 35px;
    outline: none;
    border: none;
    text-align: right;
    padding-right:.5em;
    background: #ecf0f3;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
    box-shadow: inset 8px 8px 8px #cbced1,
                inset -8px -8px 8px #ffffff;
}
.btns{
    width: 100%;
    margin-top: 1.7em;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.btns .row button{
    width: 80px;
    height: 30px;
    font-size: 16px;
    border: none;
    outline: none;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;

    box-shadow: 5px 5px 8px rgb(151, 153, 151),
    -5px -5px 8px #ffffff;
    margin: 6px;
}
.btns .row button:hover{
    box-shadow: inset 5px 5px 8px rgb(16, 16, 16, .1),
    inset -5px -5px 8px #fff;
    font-weight: 700;
    
}
#egal, #ce, #ac{
    box-shadow: 5px 5px 8px  rgb(16, 16, 16, .1),
    -5px -5px 8px #fff;
    background-color: #eb3636;
    margin: 6px;
    color: #fff;
}
#egal{
    box-shadow: 5px 5px 8px  rgb(16, 16, 16, .1),
    -5px -5px 8px #fff;
    background-color: #623bee;
    margin: 6px;
    color: #fff;
}
#signe{
    box-shadow: 5px 5px 8px  rgb(16, 16, 16, .1),
    -5px -5px 8px #fff;
    background-color: #2ac54b;
    margin: 6px;
    color: #fff;
}